USE [master]
GO
/****** Object:  Database [ASADA]    Script Date: 01/10/2017 17:12:59 ******/
CREATE DATABASE [ASADA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASADA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ASADA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ASADA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ASADA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASADA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASADA]
GO
/****** Object:  User [UACA]    Script Date: 01/10/2017 17:12:59 ******/
CREATE USER [UACA] FOR LOGIN [UACA] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [UACA]
GO
/****** Object:  Table [dbo].[Abonados]    Script Date: 01/10/2017 17:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abonados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[PrimerApellido] [nvarchar](50) NOT NULL,
	[SegundoApellido] [nvarchar](50) NOT NULL,
	[Cedula] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](50) NOT NULL,
	[Celular] [nvarchar](50) NULL,
	[Direccion] [nvarchar](225) NOT NULL,
	[Correo] [nvarchar](100) NULL,
	[NumeroAbonado] [nvarchar](100) NOT NULL,
	[Afiliado] [bit] NOT NULL,
 CONSTRAINT [PK_Abonados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Previstas]    Script Date: 01/10/2017 17:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Previstas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAbonado] [int] NOT NULL,
	[IdTarifa] [int] NOT NULL,
	[IdSector] [int] NOT NULL,
	[Direccion] [nvarchar](225) NOT NULL,
	[FolioReal] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Previstas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sectores]    Script Date: 01/10/2017 17:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sectores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sectores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tarifas]    Script Date: 01/10/2017 17:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarifas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Precio] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_Tarifa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 01/10/2017 17:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Clave] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Previstas]  WITH CHECK ADD  CONSTRAINT [FK_Previstas_Abonados] FOREIGN KEY([IdAbonado])
REFERENCES [dbo].[Abonados] ([Id])
GO
ALTER TABLE [dbo].[Previstas] CHECK CONSTRAINT [FK_Previstas_Abonados]
GO
ALTER TABLE [dbo].[Previstas]  WITH CHECK ADD  CONSTRAINT [FK_Previstas_Sectores] FOREIGN KEY([IdSector])
REFERENCES [dbo].[Sectores] ([Id])
GO
ALTER TABLE [dbo].[Previstas] CHECK CONSTRAINT [FK_Previstas_Sectores]
GO
ALTER TABLE [dbo].[Previstas]  WITH CHECK ADD  CONSTRAINT [FK_Previstas_Tarifas] FOREIGN KEY([IdSector])
REFERENCES [dbo].[Tarifas] ([Id])
GO
ALTER TABLE [dbo].[Previstas] CHECK CONSTRAINT [FK_Previstas_Tarifas]
GO
USE [master]
GO
